@import url('../../../../resources/fonts/customfonts.css');

.titleQR {
  width: 432px;
  height: 49px;
  margin: 33px 409px 18px 425px;
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.subTextQR {
  width: 822px;
  height: 26px;
  margin: 18px 215px 52px 229px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
