
.qFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 750px;
  margin-bottom: 20px;
  width: 1366px;
}

.titleQR {
  width: 432px;
  height: 49px;
  margin: 33px 409px 18px 425px;
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.subTextQR {
  width: 822px;
  height: 26px;
  margin: 18px 215px 52px 229px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.qrContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.qrFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.qrFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileName {
  height: 15px;
  margin: 0 0 0 12px;
  font-family: SamsungOne;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
}

.creationTime{
  height: 15px;
  margin: 15px 54px 0 34px;
  font-family: SamsungOne;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #404040;
}

.qrcode_with_wifiConfig {  
  margin: 15px 6px 0 17px;
}

.h_links {  
  margin: 15px 6px 0 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.printText{
  width: 48px;
  height: 14px;
  margin: 0 20px 0 0;
  font-family: SamsungOne;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00b5ff;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.downloadText {
  width: 74px;
  height: 14px;
  margin: 0 0 0 20px;
  font-family: SamsungOne;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00b5ff;
  text-decoration-line: underline;
  text-decoration-style: solid;
}