.pageContainer {
  display: flex;
  background-color: aqua;
  flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitleSummary {
    width: 286px;
    height: 49px;
    margin: 33px 482px 9px 498px;
    font-size: 44px;
    text-align: center;
    color: #000000;
  }

.pageSubTitle {
    width: 822px;
    height: 26px;
    margin: 9px 215px 77px 229px;
    font-family: SamsungOne-400;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }


.details {
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.firstSection {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}

.secondSection {
    background-color:orange;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}

.thirdSection {
    background-color: orchid;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
}

.sectionTitle {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.sectionSubTitle {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.sectionText {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #000000;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
 }